body {
  background-color: rgb(141, 140, 140);
}

.container > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  padding: 10px;
  margin: 10px;
}
.description {
  padding: 10px;
  margin: 10px;
}
.btn {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(103, 103, 233);
  color: white;
}
.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delete-btn {
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
  margin: 10px;
}
.edit-btn {
  padding: 10px;
  background-color: rgb(95, 95, 226);
  color: white;
  border-radius: 10px;
}
